$primary-color: #27acd9;
$border-radius: 4px;
$font-size: 1rem;
$input-height: 30px;
$input-padding: 0.5rem;
$box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
$transition-duration: 0.5s;
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; // 必要に応じて調整
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo {
    margin-bottom: 20px;
    font-size: 2rem;
    color: $primary-color;
  }
  
  .name-input {
    margin-bottom: 20px;
    width: 80%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .create-button {
    margin-top: 200px;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 100vh;
    background-color: transparent;
    cursor: pointer;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    transition: $transition-duration;
    text-align: center;
  
    &:hover {
      color: #fff;
      background: $primary-color;
      transform: translateY(3px);
    }
  
    &:focus {
      outline: none;
    }
  }