$primary-color: #27acd9;
$border-radius: 4px;
$font-size: 1rem;
$input-height: 30px;
$input-padding: 0.5rem;
$box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
$transition-duration: 0.5s;



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    // max-width: 1200px;
  }
  
  .start-button {
    text-decoration: none;
    width: 220px;
    padding: 1rem;
    // padding: 1rem 4rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    border-radius: 20px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    transition: $transition-duration;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
  
    &:hover {
      color: #fff;
      background: $primary-color;
      border-bottom: 2px solid #fff;
      transform: translateY(3px);
    }
  
    &:focus {
      outline: none;
    }
  }
  
  .playerandbutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .wait-user {
    flex: 1;
    width: auto;
    margin-top: 50px;
    position: relative; /* 相対位置を設定 */
  }
  .invite-button {
    // position: absolute;
    bottom: 10px; /* 下端からの距離 */
    // right: 10px; /* 右端からの距離 */
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: $transition-duration;

    &:hover {
        color: $primary-color;
        background: white;
        border-bottom: 2px solid #fff;
        transform: translateY(3px);
      }
  }
  .wait-user ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 500px; // スクロールバーが表示される高さ
    overflow-y: auto;
    gap: 20px; 
    width: 450px; 
  }
  
  .user-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .wait-user li {
    padding: 0.5rem;
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 400px;
    box-sizing: border-box;
    background-color: #ffffff; /* 背景色を追加 */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.7); /* 立体的なボックスシャドウ */
  }
  
  .radio-section {
    flex: 1.5;
    margin-left: 80px;
  }
  
  .radio-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .radio-section p{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .radio-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .radio-group button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-group .radio-image {
    width: 120px;
    height: 120px;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  
  .radio-group .selected .radio-image {
    border-color: $primary-color;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  .loading {
    width: 24px;
    height: 24px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }