<h2>ルームID</h2>
<body>
    <div class="container">
      <button class="start-button" (click)="onClickStart()">START</button>
      <div class="wait-user">
        <ul>
          <input type="text" class="user-input" value="https//hogehoge">
          <p class="user-title">プレイヤー一覧</p>
          <div *ngFor="let player of players">
            <li>{{player.username}}</li>
          </div>
        </ul>
        <div class="fixed-value">
            <p>固定値</p>
            <div class="textarea-container">
              <textarea class="fixed-input"></textarea>
              <button class="save-button">保存する</button>
            </div>
          </div>
      </div>
    </div>
  </body>
