<h2>ルームID</h2>
<body>
    <div class="container">
      <a class="start-button">START</a>
      <div class="wait-user">
        <ul>
          <input type="text" class="user-input" value="https//hogehoge">
          <p class="user-title">プレイヤー一覧</p>
          <li>user1</li>
          <li>user2</li>
          <li>user3</li>
          <li>user4</li>
          <li>user5</li>
          <li>user6</li>
        </ul>
        <div class="fixed-value">
            <p>固定値</p>
            <div class="textarea-container">
              <textarea class="fixed-input"></textarea>
              <button class="save-button">保存する</button>
            </div>
          </div>
      </div>
    </div>
  </body>