$primary-color: #27acd9;
$border-radius: 4px;
$font-size: 1rem;
$input-height: 30px;
$input-padding: 0.5rem;
$box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
$transition-duration: 0.5s;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 700px;
  border-radius: 30px;
  border: 12px solid #5895f6;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.start-button {
    text-decoration: none;
    margin-bottom: 100px;
    width: 320px;
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 50px;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 100vh;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    transition: $transition-duration;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  
    &:hover {
      color: #fff;
      background: $primary-color;
      border-bottom: 2px solid #fff;
      transform: translateY(3px);
    }
  
    &:focus {
      outline: none;
    }
  }

.wait-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px; // 要素間のスペース

  ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
    display: flex;
    border-radius: 20px;
    border: 2px solid #000000;
    flex-direction: column;
    max-height: 300px; // スクロールバーが表示される高さ
    overflow-y: auto;
    gap: 20px; 
    width: 100%; 
  }

  li {
    padding: 0.5rem;
    border: 3px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 400px; 
    box-sizing: border-box; 
  }

  .user-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .fixed-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  
    .textarea-container {
      position: relative;
      width: 300px; // 必要に応じて調整
    }
  
    .fixed-input {
      width: 100%; // 親要素に合わせて幅を設定
      height: 100px; // 必要に応じて調整
      padding: 0.5rem;
      border: 3px solid #000000;
      border-radius: 4px;
      font-size: 1rem;
      resize: none;
      box-sizing: border-box; // パディングとボーダーを含めて幅を計算
    }
  
    .save-button {
      position: absolute;
      bottom: -35px; // textareaの外に配置
      right: 0;
      padding: 0.5rem 1rem;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
    }
  }
  
}
