$primary-color: #27acd9;
$border-radius: 4px;
$font-size: 1rem;
$input-height: 30px;
$input-padding: 0.5rem;
$box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
$transition-duration: 0.5s;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  margin-bottom: 50px;
}

.name-input,
.url-input {
  margin-bottom: 150px;
  height: $input-height;
  padding: $input-padding;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  font-size: $font-size;
}

.url-input {
  margin-bottom: 1rem;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 20px;
    width: 902px;
}

.create-button,
.enter-button {
  text-decoration: none;
  width: 220px;
  padding: 1rem 4rem;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  border-radius: 100vh;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  transition: $transition-duration;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  &:hover {
    color: #fff;
    background: $primary-color;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
  }

  &:focus {
    outline: none;
  }
}
.create-button {
  margin-right: 180px;
}
